NEXT_PUBLIC_SITE_URL=https://tiembac.vn
NEXT_PUBLIC_SUPABASE_URL=https://mlbroienajaiacqzxcca.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_JaYXZwYWi8PgeJDHMweOjw_VEffR01_
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1sYnJvaWVuYWphaWFjcXp4Y2NhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODU1OTI2NywiZXhwIjoyMDk0MTM1MjY3fQ.20oUJPNUVobfhiV4qFvSjc08m4FKWKDtYNAY8ukLk7w
PAYMENT_WEBHOOK_SECRET=
